#gameselectfix{
width: 1024px;
height: 768px;
background-image: url('/assets/img/web-login.jpg');

}

.gamepoint01{
	position: absolute;
	margin-top: 40px;
	margin-left: 660px;
	width: 159px;
	height: 134px;
	display: none;
}