/**********************************************/
/*     RESET             					  */
/**********************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {  display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }


/**********************************************/
/*     CLEAR             					  */
/**********************************************/
.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after {
    clear: both;
    content: '';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}
/*
The following zoom:1 rule is specifically for IE6 + IE7.
Move to separate stylesheet if invalid CSS is a problem.
*/

* html .clearfix,
*:first-child+html .clearfix {
    zoom: 1;
}
    
/* ================================================================== */
html.cssClass
{
	-webkit-transform: scale(1);/* stupid 0.98875 value that doesn't allow us to use 100% width and height in Chrome */
	-webkit-transform-origin: 0 0;		
}

html, body
{
	height: 100%;	
	overflow:hidden;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
	
}
*:not(html)
{
	-webkit-transform: translate3d(0, 0, 0);
}
#console-log
{
    position: absolute;
	display:none;
    top: 140px;
    left: 5px;
    width: 200px;
    height: 200px;
    background: #FFFFFF;
    z-index: 9999999;    
	overflow:auto;
    
}
#console-log span
{
    position: relative;
    float:left;
    margin-top: 4px;    
    width: 200px;
    font-family: PT Sans Caption; /*'Open Sans',sans-serif;*/
	font-size: 14px;	
	color: #444444;
	text-decoration:none;
	outline:none;
}
body
{
	visibility:visible;
}
#template-wrapper
{
	position:fixed;
	left: 0px;
	top: 0px;	
	width:100%;
	height: 100%;
}
/* -------- THEME COLOR SETUP ---------------------- */
#menu-hider-background,
#menu-hider-icon,
.menu-option-background, 
.menu-option-background-selected,
.sub-menu-option-background,
.sub-menu-option-background-selected,
#module-scrollbar-dragger,
.draggerH-preview,
.filter-button.selected,
.draggerH,
.tooltip-background,
.smartphone-option-background, 
.smartphone-option-background-selected
{
	background-color:#d00355;
}
.thumb-selected img
{
	border-color:#d00355;	
}
/* -------- END THEME COLOR SETUP ------------------ */

.main-template-loader
{
	position:absolute;
	visibility:visible;
	width: 100%;
	height: 100%;
	background-color:#ffffff;
	background-image:url(/assets/loaders/loader.gif);
    background-repeat:no-repeat;
	background-position:center;		
	z-index: 1000;
}

.menu-background
{
	position:absolute;    
	width: 100%;   
    height: 100%;
	top:0px;
	left:0px;
	z-index:7;
}
.menu-background, .sub-menu-holder
{
	background-color: #ffffff;
    background-image:url(/assets/patterns/menu/menu_pattern_1.png);/*url(/assets/patterns/pattern_menu.png);*/
	background-repeat:repeat;
}

/* ============================ 1. MENU & LOGO ====================== */

#menu-container
{
	position:absolute;
	visibility:visible;
	height: 100%;
	left:0px;
	z-index:10;
	top: 0px;
}

/* -------- MENU AND  SUBMENU SIZE ------- */
.template-menu
{
	margin: 0 0 0 20px;
}
.template-menu,
.menu-option-holder, 
.menu-option-background-selected,
.menu-option-text,
.sub-menu-option-text
{	
	width: 210px;
}
.sub-menu-holder,
.menu-option-background
{
	margin-left:210px;
}
.sub-menu-holder
{
	width: 84%;
	margin-left:220px; /*  + menu-hider width so the submenu appears after the vertical hider strip*/ 
}

/* START fix IE 8: we add 2 more px so it fills the gap. 
In the other browser this 2px don't matter because 
submenu holder has overflow hidden */
.sub-menu-option-holder,
.sub-menu-option-background-selected
{
	width: 212px;	 
}

.sub-menu-option-background
{
	margin-left:212px;
}
/* END fix IE 8*/
/* -------- END MENU AND  SUBMENU SIZE --- */

.menu-content-holder
{
	position:relative;
	float:left;
	height:100%;
}
#menu-hider
{
	position:relative;
	float:left;
	width:10px;
	height:100%;
	z-index:-1;
	display:none;
}
#menu-hider-background
{
	position:absolute;
	width:10px;
	height: 100%;
	left:0px;
	z-index:2;	
}
#menu-hider-icon
{
	position:absolute;
	left:3px;
	top: 68px;
	height: 30px;
    width: 20px;
	/*background-color:#d00355;*/
	background-image:url(/assets/synergy_sprite.png);
	background-repeat:no-repeat;
	background-position: -274px -202px;
	overflow:hidden;
	cursor:hand;
	cursor:pointer;	
	z-index:1;
}

.template-logo
{
	clear:both;
	position:relative;
	float:left;
	background-image:url(/assets/media/synergy_html5_logo.png);
	background-repeat:no-repeat;
	width: 140px;
	height: 90px;
	margin: 28px 0 28px -70px;	
	z-index: 8;
	left:50%;
	cursor:pointer;
}
.template-menu
{
	clear:both;
	position:relative;
	float:left;
	padding:0;	
	z-index:9;
}
.menu-option-holder, .sub-menu-option-holder, .smartphone-option-holder
{
	margin-bottom: 1px;
}
.menu-option-holder:hover, .sub-menu-option-holder:hover, .smartphone-option-holder:hover
{
	cursor: pointer;
	cursor: hand;		
}
.menu-option-holder,
.menu-option-background,
.menu-option-background-selected,
.menu-option-text,
.sub-menu-option-holder,
.sub-menu-option-background,
.sub-menu-option-background-selected,
.sub-menu-option-text
{
	height:32px;
}
.menu-option-background, 
.menu-option-background-selected,
.sub-menu-option-background,
.sub-menu-option-background-selected
{
	position:absolute;		
    z-index:1;
}
.sub-menu-option-text,
.menu-option-text,
.smartphone-option-text
{
	position:absolute;
    z-index:2;
}
.menu-option-text a, .menu-option-sign, .sub-menu-option-text a, .smartphone-option-text a
{
	display:block;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:14px;
	font-family: PT Sans Caption; /*'Open Sans',sans-serif;*/
	font-size: 12px;	
	/*letter-spacing:1px;*/
	color: #777777;
	overflow:hidden;	
	text-decoration:none;
	outline:none;
}
.menu-option-sign
{
	position:absolute;
	top:0px;
	right: 16px;
	padding-left:10px;
	text-align:right;	
}
.menu-option-text .selected, .menu-option-sign .selected, .sub-menu-option-text .selected, .smartphone-option-text .selected
{
 	color: #ffffff;	
}
/* ================ SUB MENU ==================== */

.sub-menu-holder
{
	position:relative;
	display:none;	
	overflow:hidden;
}
.sub-menu-option-holder
{
	overflow:hidden;
}
.sub-menu-option-holder:last-child {
	margin-bottom: 0px;
}
.sub-menu-option-text a
{	
	font-family: PT Sans;
	font-size: 13px;
}

#module-holder
{
	
	position:relative;
	float:left;
	height:100%;
	overflow:hidden;
	background-color:#330000;
}
/* ================ SUB MENU ==================== */
#audio-player{
    clear:both;
    position:relative;
    float:left;
    top: 10px;
    left: 20px;
    height: 70px;
    /*background-color: #3f3f3f;*/
    z-index:12;
    overflow:hidden;
}
#audio-items{
    display:none;
}
#audio-player-holder{
    position:absolute;
    top:40px;
    left:0px;
    width: 100%;
    height: 30px;
    overflow:hidden;    
}
#audio-player-tooltip{
    position:absolute;
    float:left;
    width: 88%;
    height: 35px;
    top: 0px;  
    left:0px; 
    display:none;
}

.audio-player-tooltip-hook{
    position:absolute;
    top: 26px;  
    left:36%;
    width: 0px; 
    height: 0px; 
    border-left: 7px solid transparent; 
    border-right: 7px solid transparent; 
    border-top: 9px solid #171717;
}
#audio-tooltip-holder{
    position:absolute;
    height: 26px;
    width: 100%; 
    z-index:1; 
}
.audio-player-tooltip-title{
    position:absolute;
    top: 3px;
    left: 2%;
    width: 96%;
    height: 20px;
    overflow:hidden;
    /*background-color:#373737;*/
    z-index:2;
}
.audio-player-tooltip-title span{
    position:relative;
    left: 1px;
	display:inline-block;
    white-space: nowrap;
	font-family:PT Sans;
	font-weight: normal;
	font-size:12px;
	line-height: 160%;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
}
.audio-tooltip-backg{
    position:absolute;
    height: 100%;
    width: 100%; 
    background-color: #171717;
    z-index:1;
}
#audio-player-options-holder{
    position:absolute;
    top:0px;
    left:30px;
    height: 30px;
    overflow:hidden;
}

#audio-options-button, #audio-prev-track, #audio-play-pause-track, #audio-next-track, #audio-volume-speaker{
    float:left;
    height: 30px;
    width: 28px;
    cursor:pointer;  
    z-index:3;  
}
#audio-options-button{ width: 30px; }
#audio-volume-bar{
    position:relative;
    float:left;
    height: 30px;
    width: 68px;
}
/*#audio-prev-track, #audio-play-pause-track, #audio-next-track, #audio-volume-speaker{ background-color: #171717; }*/
#audio-volume-bar{ background-color: #171717; }
.audio-options-button-backg, .audio-controls-backg{
    position:absolute;
    z-index:1;
    height: 30px;
    width: 30px; 
}
.audio-options-button-backg{ background-color: #d00355; }
.audio-controls-backg{ background-color: #171717; }

.audio-options-button-sign, .audio-prev-track-sign, .audio-play-track-sign, .audio-pause-track-sign, 
.audio-next-track-sign, .audio-volume-on-sign, .audio-volume-off-sign{
    position:absolute;
    height: 30px;
    width: 29px; 
    background-image:url(/assets/synergy_sprite.png);
	background-repeat:no-repeat;
    z-index:2;    
}
.audio-options-button-sign{ background-position: -360px -200px; }
.audio-prev-track-sign{ background-position: -390px -200px; }
.audio-play-track-sign{ background-position: -420px -200px; }
.audio-pause-track-sign{ background-position: -450px -200px; }
.audio-next-track-sign{ background-position: -480px -200px; }
.audio-volume-on-sign{ background-position: -510px -200px; }
.audio-volume-off-sign{ background-position: -542px -200px; }

.audio-volume-bar-scrub-backg, .audio-volume-bar-scrub-current{
    position:absolute;
    top: 50%;
    width: 58px;
    height: 3px;
    margin-top: -1px;
    left: 5px;
    background-color: #535353;
    cursor:pointer;
}
.audio-volume-bar-scrub-current{
    width: 40px;
    background-color: #303030;
}
#footer-social-tooltip
{
    position:absolute;
    display:block;
    margin: auto;
    bottom: 89px;
    left: 55px;
    width: 150px;
    height: 20px;
    background-color: #FFFFFF;
    z-index: 12;
    display: none;
    visibility: hidden;
}
footer
{
    position:absolute;
    bottom: 8px;    
    width: 230px;
    height: 74px;
	/*left: -230px;*/
    display:none;
	left: 0px;
   /* visibility:visible;*/
    z-index: 11;        
}
#footer-social
{
    position:relative;
    float:left;
    margin: auto;
    width: 100%;
    height: 28px;
    overflow:hidden;
}
#footer-social-holder
{    
    display:block;
    margin: 0px auto;
    width: 150px;
    height: 28px;
}

#footer-social-tooltip span
{
    display:block;
    margin:  auto;
    padding-top: 3px;
    font-family:PT Sans;
	font-weight: bold;
	font-size:13px;
	color:#444444; 
	text-align:center;
    overflow:hidden;
}
#footer-social-holder ul 
{
	list-style-type:none;
	float:left;
	width: 150px;
	height: 25px;
}
#footer-social-holder ul li
{
	float:left;
	width: 26px;
	height: 26px;
	cursor:pointer;	
	margin-right:4px;
}
#footer-social-holder ul li a{
	display:block;
	width:100%;
	height:100%;
	/*outline: 0px solid #d00355;*/
}
/*#footer-social-holder ul li a:hover{
	outline: 1px solid;
	outline-color:#d00355;
}*/
#footer-social-holder ul .twitter{ background-position:0 -100px; }
#footer-social-holder ul .facebook{ background-position:-30px -100px; }
#footer-social-holder ul li.google{ background-position:-60px -100px; }
#footer-social-holder ul li.dribbble{ background-position:-90px -100px; }
#footer-social-holder ul li.flickr{ background-position:-120px -100px; }

#footer-social-holder ul li.twitter:hover{ background-position:0px -130px; }
#footer-social-holder ul li.facebook:hover{ background-position:-30px -130px; }
#footer-social-holder ul li.google:hover{ background-position:-60px -130px; }
#footer-social-holder ul li.dribbble:hover{ background-position:-90px -130px; }
#footer-social-holder ul li.flickr:hover{ background-position:-120px -130px; }

#footer-text
{
    display:block;
    position:relative;
    margin: 44px auto;
    width: 100%;
}
#footer-copyright
{
    position:absolute;
    top: 0px;
    display:block;
	width: 100%;    
}
#footer-copyright a
{
    position:relative;
    float:left;
	width: 100%;    
    font-family:PT Sans;
	font-weight: normal;
	font-size:12px;
	line-height: 170%;
    padding: 9px 0;
	color:#777777; 
	text-align:center;
    text-decoration:none;
}
#footer-copyright a:hover
{
    color:#ffffff; 
	text-decoration: underline;
}



#footer-social-holder ul li,
#control-pin,
.control-pin-hover,
.client-over, 
.client-out 
{ background-image:url(/assets/synergy_sprite.png); }


/* ============================ 2. CONTENT ========================== */

#module-container
{
	position:absolute;
	top: 0px;
	width:100%;
	height:100%;
	z-index:6;
}
#module-container-old
{
	position:absolute;
	top: 0px;
	left: 240px;
	width:100%;
	height:100%;
	z-index:3;
}
#load-container
{
	position:absolute;
	left: 260px;
	top:0px;
	width:100%;
	height:100%;
	background-color:#669933;
	z-index:6;
	display:none;
}
#loading-animation
{
	display:none;
	visibility: hidden;
	position: fixed;
	right: 0px;
	top:50%;
	width: 48px;
	height: 33px;
	background-color:#FFFFFF;
	z-index: 10;
	/**** START CSS3 SHADOW CROSS-BROWSER ****/
	-moz-box-shadow: -1px 1px 2px #0c0c0c;
	-webkit-box-shadow: -1px 1px 2px #0c0c0c;
	box-shadow: -1px 1px 2px #0c0c0c;
	
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=-120, Color='#0c0c0c')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=-120, Color='#0c0c0c');
	/**** END CSS3 SHADOW CROSS-BROWSER ****/
}
#loading-animation img
{
	position:relative;
	float: left;
	top: 11px;
	margin-left: 16px;
}
/* ============================ 2.1 SLIDESHOW ======================= */

#slideshow, .slideshow-slide
{
	width:100%;
	height:100%;	
}

/* == 2.2 - SLIDESHOW == */

#slide-current
{
	position: absolute; top: 0; left: 0px; visibility:visible; display:none; z-index:1;
}

.slideshow-hidden { visibility:visible; }

.bgStart { position: fixed; top: 0; left: 0; visibility:visible; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }

#slideshow-thumbs
{
	position:absolute;
	bottom: -84px;
	z-index:4;		
}
#slideshow-thumbs-background
{
    position:absolute;
	top:0px;
	left:0px;
    background-color:#FFFFFF;
    width: 100%;
    height: 82px;/* 50 img height + 8 (margin top and bottom )+ 4 ( border bottom and top )*/     
}
#slideshow-thumbs-holder
{
    position:relative;
	float:left;
    top: 0px;
    margin: 4px !important;
    height: 74px;
}
/*--------------------------------------------*/

.slideshow-thumbs-arrow-forward, .slideshow-thumbs-arrow-backward 
{
	position:relative;
	float:left;
	top: 50%;
	margin-top: -15px;
	margin-right: 4px;
	width:30px;
	height:30px;
	cursor:pointer;	
	
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;	
}
.slideshow-thumbs-arrow-forward{ margin-left: 4px; margin-right: 0px;}
.slideshow-thumbs-arrow-backg
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#3f3f3f;
}
.slideshow-thumbs-arrow-backward-sign, 
.slideshow-thumbs-arrow-forward-sign
{
	position:relative;
	float:left;
	width:100%;
	height:100%;	
    background-image:url(/assets/synergy_sprite.png); 
    background-repeat:no-repeat;
	background-position:center;	
}
.slideshow-thumbs-arrow-backward-sign{ background-position: -202px -202px; }
.slideshow-thumbs-arrow-forward-sign{ background-position: -270px -202px; }


/*--------------------------------------------*/

#slideshow-thumbs-content
{
    position:relative;
    float:left;
    width: 448px;
    height: 74px;
    overflow:hidden;
}
.horizontal-fix-slideshow-thumbs
{
	position:relative;
}
#slideshow-thumbs-container
{
    position:relative;
    float:left;
    height: 74px;
    overflow:hidden;
}
.slideshow-thumb-holder
{
    position:relative;
    float:left;
    width: 109px;
    height: 74px;
    margin-right: 4px; 
	background-image:url(/assets/loaders/loader.gif);
    background-repeat:no-repeat;
	background-position:center;
    cursor:pointer;
    cursor:hand;
	overflow:hidden;
}
.slideshow-thumb-holder img
{
    position:absolute;
    top: 0px;
    outline: none;
    border: 2px solid #FFFFFF;
    display:block;
}
.slideshow-thumb-holder-hover
{
    position:absolute;
    top: 0px;
    width: 105px;
    height: 50px;
    margin: 2px !important;
    background-color:#444444;
    
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";/* IE 8 */  	
  	filter: alpha(opacity=40);/* IE 5-7 */
  	
  	-moz-opacity: 0.4;/* Netscape */  	
  	-khtml-opacity: 0.4;/* Safari 1.x */  	
  	opacity: 0.4;/* Other browsers */
}

.thumb-selected img 
{
	border: 2px solid;	
	display:block;
}
#slideshow-thumbs-counter
{
    position:relative;
    float:left;    
    width: 40px;
    height: 54px;
}
#slideshow-thumbs-counter span
{
    margin: 28px auto;
    display:block;
    font-family:Century Gothic, Arial;
	font-weight: normal;
	font-size:16px;
	color:#0c0c0c;
    text-align:center;
}


#slideshow-captions
{
	position:absolute;
	top: 350px;
	left: 300px;
	display:inline-block;
	opacity:1;
	z-index:3;
}
#slideshow-captions-text
{
	position:absolute;
	background-color:#FFF;	
	display:none;
	white-space:nowrap;
	overflow:hidden;
	
	/**** CSS3 SHADOW CROSS-BROWSER ****/
	-moz-box-shadow: 2px 2px 2px #0c0c0c;
	-webkit-box-shadow: 2px 2px 2px #0c0c0c;
	box-shadow: 2px 2px 2px #0c0c0c;
	
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#0c0c0c')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#0c0c0c');
}

#slideshow-captions-text p
{
	padding: 10px !important;
	font-family: PT Sans;
	font-size:20px;
	color:#3f3f3f;
}	

/* ============================ 2.0 MODULE POSITIONS ======================= */
.module-position-lc {		
	left:0px;
}
.module-position-cc 
{

}
.module-position-no-shadow-cc 
{
	left:50%;
}
.module-position-no-shadow-lb 
{
	bottom:0px;
}
.module-position-rc
{ 
	position:fixed;
	right:0px;
}
.module-position-bc
{		
	
}
.module-position-lb 
{

}
/* ============================ 2.0 END MODULE POSITIONS =================== */



/* ============================ 2.0 UTILS CLASSES ============================= */
.opacity_10
{
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";/* IE 8 */  	
  	filter: alpha(opacity=100);/* IE 5-7 */  	
  	-moz-opacity: 1;/* Netscape */  	
  	-khtml-opacity: 1;/* Safari 1.x */  	
  	opacity: 1;/* Other browsers */		
}
.opacity_9_7
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=97)";/* IE 8 */  	
  	filter: alpha(opacity=97);/* IE 5-7 */  	
  	-moz-opacity: 0.97;/* Netscape */  	
  	-khtml-opacity: 0.97;/* Safari 1.x */  	
  	opacity: 0.97;/* Other browsers */	
}
.opacity_9
{
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";/* IE 8 */  	
  	filter: alpha(opacity=90);/* IE 5-7 */  	
  	-moz-opacity: 0.9;/* Netscape */  	
  	-khtml-opacity: 0.9;/* Safari 1.x */  	
  	opacity: 0.9;/* Other browsers */		
}
.opacity_8
{
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";/* IE 8 */  	
  	filter: alpha(opacity=80);/* IE 5-7 */  	
  	-moz-opacity: 0.8;/* Netscape */  	
  	-khtml-opacity: 0.8;/* Safari 1.x */  	
  	opacity: 0.8;/* Other browsers */		
}
.opacity_6
{
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";/* IE 8 */  	
  	filter: alpha(opacity=60);/* IE 5-7 */  	
  	-moz-opacity: 0.6;/* Netscape */  	
  	-khtml-opacity: 0.6;/* Safari 1.x */  	
  	opacity: 0.6;/* Other browsers */		
}
.opacity_4
{
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";/* IE 8 */  	
  	filter: alpha(opacity=40);/* IE 5-7 */  	
  	-moz-opacity: 0.4;/* Netscape */  	
  	-khtml-opacity: 0.4;/* Safari 1.x */  	
  	opacity: 0.4;/* Other browsers */		
}
.opacity_2
{
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";/* IE 8 */  	
  	filter: alpha(opacity=20);/* IE 5-7 */  	
  	-moz-opacity: 0.2;/* Netscape */  	
  	-khtml-opacity: 0.2;/* Safari 1.x */  	
  	opacity: 0.2;/* Other browsers */		
}
.opacity_0
{
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";/* IE 8 */  	
  	filter: alpha(opacity=0);/* IE 5-7 */  	
  	-moz-opacity: 0;/* Netscape */  	
  	-khtml-opacity: 0;/* Safari 1.x */  	
  	opacity: 0;/* Other browsers */		
}
.shadow-side-right
{
	-moz-box-shadow: 1px 1px 2px #0c0c0c;
	-webkit-box-shadow: 1px 1px 2px #0c0c0c;
	box-shadow: 1px 1px 2px #0c0c0c;		
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#0c0c0c')";/* For IE 8 */	
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=120, Color='#0c0c0c');/* For IE 5.5 - 7 */
}
.shadow-side-left
{
	-moz-box-shadow: -1px 1px 2px #0c0c0c;
	-webkit-box-shadow: -1px 1px 2px #0c0c0c;
	box-shadow: -1px 1px 2px #0c0c0c;	
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=-120, Color='#0c0c0c')";/* For IE 8 */	
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=-120, Color='#0c0c0c');/* For IE 5.5 - 7 */
}
.shadow-side-all
{
	-moz-box-shadow: 0px 0px 2px #0c0c0c;
	-webkit-box-shadow: 0px 0px 2px #0c0c0c;
	box-shadow: 0px 0px 2px #0c0c0c;	

	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(OffX=0, OffY=0, Strength=2, Color='#0c0c0c')";/* For IE 8 */	
}

.shadow-side-all-pricing-tables
{
	-moz-box-shadow: 0px 0px 6px #0c0c0c;
	-webkit-box-shadow: 0px 0px 6px #0c0c0c;
	box-shadow: 0px 0px 6px #0c0c0c;	

	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(OffX=0, OffY=0, Strength=6, Color='#909090')";/* For IE 8 */	
}
.box-sizing{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */	
}
/* ============================ 2.0 END UTILS CLASSES ========================= */

#module-scrollbar-holder
{
	display:none;
	position:relative;	
	float:left;
	width: 10px;
	height: 100%;
	z-index:1;	
}
#module-scrollbar-holder_v2
{
	display:none;
	position:absolute;	
	top: 0px;
	right: 0px;
	width: 10px;
	height: 100%;
	z-index:3;	
}
#module-scrollbar-background
{
	background-color: #EEEEEE;
    height: 100%;
	width: 100%;	
}
#module-scrollbar-dragger
{
	position:absolute;
	top: 0px;
	width: 100%;
	height: 100px; 	
}

/* ============================ 3.0 GENERAL MODULES =========================== */
#module-container-holder
{
	position:absolute;			
	z-index:2;
	height:100%;
	visibility:visible;
}

/* ---------------------------- 3.1.1 HOME LAYOUT 2 --------------------------- */
#module-home-layout2
{
	float: left;
    position: relative;
	height:100%;
    z-index: 1;
}
.module-home-layout2
{
	width:960px;
}
#module-home-layout2-holder
{
	
	display:inline-block;
	position:relative;
	margin:40px 25px;
}
#home-layout2-banner
{
	position:relative;
	float:left;
	width:100%;	
	margin: 0px;
	padding: 0px;
}
.banner-timer-graphic{
    position:absolute;
    height: 4px;
    width: 0%;
    top: 0px;
    left: 0px;
    background-color: #d00355;
    z-index: 2;
}
#standard-banner{
	float:left;
	top:0px;
	left:0px;
	width:100%;
	height:440px;
	overflow:hidden;	
	z-index: 1;
	background-image:url(/assets/loaders/loader_circle.gif);
    background-repeat:no-repeat;
	background-position:center;
}
#standard-banner a{
	position:absolute;
	top: 0px;
	left: 0px;
	display:none;	
}
#standard-banner a img{width:100%;}
#standard-banner a.selected{ display:inline;}
.banner-desc-tr{ top: 100px; right: 50px; }
.banner-desc-cr{ top: 200px; right: 50px; }
.banner-desc-br{ bottom: 100px; right: 50px; }
.banner-desc-tl{ top: 100px; left: 50px; }
.banner-desc-cl{ top: 200px; left: 50px; }
.banner-desc-bl{ bottom: 100px; left: 50px; }
.banner-desc { 
	position:absolute;
	width: 352px;    
}
.banner-desc span{
	position:relative;
	padding: 30px;
	display:block;
	font-family:PT Sans;
	font-weight: normal;
	font-size:14px;
	line-height: 140%;
	text-align: left;
	color: #FFFFFF;
	text-decoration: none;
}
.banner-desc span h1{ font-weight: bold; font-size:20px; margin-bottom:20px; color:#ffffff; }
.banner-desc span p{  }
.desc-background{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height: 100%;
	background-color:#333333;
}
#standard-banner-controls
{
	clear: both;
	position:relative;
	float: left;
	left: 50%;
    margin-top: 10px;
	height: 31px;
	z-index: 2;
}
#control-pin
{
	float:left;
	width: 20px;
	height: 21px;
	margin: 5px 0px 5px 5px;
	cursor:pointer;
	background-position:0 -200px;
}
#control-pin.last{ margin: 5px; }
.control-pin-hover 
{
	float:left;
	width: 20px;
	height: 21px;
	margin: 0px;
	background-position:-30px -200px;
}

.home-layout2-title
{	
	position:relative;
	float:left;
	margin-top: 20px;
	margin-left: 20px;
	font-family:PT Sans;
	font-weight: bold;
	font-size:20px;
	color:#444444; 
	text-align:left;	
}
.home-layout-clients
{
	position:relative;
	float:left;
	width:100%;	
	background-color:#f1f1f1;
	text-align:center;
}
.home-layout-clients-title
{
	position:relative;
	float:left;
	margin-top: 20px;	
	margin-left: 20px;
	font-family:PT Sans;
	font-weight: bold;
	font-size:20px;
	color:#444444; 
	text-align:left;	
	
}
.home-layout-clients a
{
	margin: 10px 0px 10px 13px;
	color:#d00355;
	font-weight:normal;
	text-decoration:none;
	width: 166px;
	height: 73px;
	position:relative;
	float:left;
}

.client-over, .client-out { position:absolute; top:0px; left:0px; width:100%; height: 100%; } 
.client-over, .client-out { /*background-image:url(/assets/synergy_sprite.png);*/ }

#client1 .client-out{ background-position:0px -280px; }
#client1 .client-over{ background-position:0px -360px; }

#client2 .client-out{ background-position:-170px -280px; }
#client2 .client-over{ background-position:-170px -360px; }

#client3 .client-out{ background-position:-340px -280px; }
#client3 .client-over{ background-position:-340px -360px; }

#client4 .client-out{ background-position:-510px -280px; }
#client4 .client-over{ background-position:-510px -360px; }

#client5 .client-out{ background-position:-680px -280px; }
#client5 .client-over{ background-position:-680px -360px; }

.home-layout2-content
{
	position:relative;
	float:left;
	margin-top: 30px;
	margin-bottom: 30px;
	width:100%;
	background-color:#f1f1f1;
}
.home-layout2-content ul
{
	position:relative;
	float:left;
	margin: 0px 30px;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.home-layout2-content ul li
{
	position:relative;
	float:left;
	width: 190px;
	margin: 20px 30px 20px 0px;
}
.layout2-icon-holder1, .layout2-icon-holder2, .layout2-icon-holder3, .layout2-icon-holder4
{
	position:relative;
	float:left;
	width: 100%;
	height: 101px;	
	background-position:center;
	background-repeat:no-repeat;
}
.layout2-icon-holder1{
	background-image:url(/assets/media/home/home_layout2/icons/1.png);	
}
.layout2-icon-holder2{
	background-image:url(/assets/media/home/home_layout2/icons/2.png);	
}
.layout2-icon-holder3{
	background-image:url(/assets/media/home/home_layout2/icons/3.png);	
}
.layout2-icon-holder4{
	background-image:url(/assets/media/home/home_layout2/icons/4.png);	
}
.layout2-description, .layout2-description p, .layout2-description span
{
	position:relative;
	float:left;
	width: 100%;	
}
.layout2-description p
{
	width: 100%;
	margin-top: 15px;
	font-family:PT Sans;
	font-weight: bold;
	font-size:16px;
	color:#3f3f3f; 
	text-align:center;
	line-height:100%;
}
.layout2-description span
{
	margin-top: 15px;
	font-family:PT Sans;
	font-weight: normal;
	font-size:14px;
	color:#434343; 
	text-align:justify;
	line-height:125%;
}
.layout2-description a
{
	
}
/* ---------------------------- 3.1.1 END HOME LAYOUT 2 ----------------------- */

/* ---------------------------- 3.1.2 HOME LAYOUT 3 --------------------------- */
#module-home-layout3
{
	float: left;
    position: relative;
	height:100%;
    z-index: 2;
}
.module-home-layout3
{
	width:960px;
}
#home-top-block 
{
	position: relative;
    float: left;
	margin-bottom: 20px;
    height: auto;	
    width: 100%;
}
#home-video-block
{
	position:relative;
	float:left;
	margin-right: 20px;
	width:680px;
	height: 391px;
	background-image: url(/assets/media/home/home_layout3/home_layout3_video.jpg); 
    background-position: center center;
    background-repeat: no-repeat;
}
#home-video-holder 
{
	display: none;
    float: left;
    height: 391px;
    overflow: hidden;
    position: relative;
    visibility: hidden;
    width: 680px;
}

#module-home-layout3-holder
{	
	display:inline-block;
	position:relative;
	margin:25px 25px;
}

#home-advertise
{
	position:relative;
	float:left;
	width:210px;
}
#home-advertise1
{
	position:relative;
	float:left;
	width:210px;
	height: 185px;
	margin-bottom: 21px;
	background-color:#669933;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.advertise-image
{
	position:relative;
	float:left;
	width:210px;
	height: 148px;
	overflow:hidden;
}
.advertise-image img
{
	position:abosolute;
	top:0px;
	left:0px;
	width: 210px;
	height:148px;	
}
.advertise-details
{
	position:relative;
	float:left;
	border-top: 1px solid #cecece;
	width:100%;
	height: 37px;
	text-align:center;
	background-color:#f1f1f1;	
}
#home-advertise1, #home-advertise2
{
	cursor:pointer;
	cursor:hand;
}
.advertise-details span
{
	display: block;
	height: 24px;
	margin: 7px 0px;
    color: #0C0C0C;
    
    font-family: PT Sans;
    font-size: 18px;
    font-weight: bold;
    text-align: center;	
	line-height:120%;
    
    
}

#home-advertise1 a, #home-advertise2 a{
	display:block;
	position:absolute;	
}

#home-advertise2
{
	position:relative;
	float:left;
	width:210px;
	height: 185px;
	background-color:#669933;
}

#home-testimonials img
{
	display:inline-block;
	margin: 0px 15px;		
}
.home-layout3-sperator
{
	position:relative;
	float:left;
	margin-top: 25px;
	width:910px;/*100%;*/
	height:1px;
	background-color: #cecece;	
}
.home-layout3-content
{
	position:relative;
	float:left;
	margin-top: 25px;
	width:100%;
	height:600px;
}
/* ---------------------------- 3.1.2 END HOME LAYOUT 3 ----------------------- */


/* ---------------------------- 3.2 TEXT PAGE MODULE -------------------------- */

#module-text-page
{
	float: left;
    position: relative;
    z-index: 2;
	/*height:100%;*/
}
#module-background-holder
{
	position:absolute;
	top:0px;
	left: 0px;
	width:100%;
	height:100%;
}
#module-background{ z-index: 2; }
.module-background
{ 
	position: absolute; 
	top: 0; 
	left: 0; 
	visibility:visible; 
	display:none; 
	z-index:1; 
}
.title-holder
{
	position:relative;
	float:left;
	width: 100%;
}
.title-text_normal
{
	font-family:PT Sans Caption;
	font-weight: normal;
	font-size:23px;
	line-height:120%;
	color:#333333; 
	text-align:left;	
}
.main-text-holder
{
	clear:both;
	position:relative;
	float:left;
}
.main-text-holder p
{
	font-family:PT Sans;
	line-height:170%;
	font-size:13px;
	color:#444444; 
	text-align:justify;
	margin-top: 20px;
}
.main-text-holder p span
{
	font-weight: bold;	
	font-size:14px;
}
.custom-separator, .custom-separator-preview-news
{
	clear:both;
	position:relative;
	float:left;
	margin-top: 20px;
	width:100%;
	height:1px;
	background-color:#D9D9D9;	
}

.media-holder
{
	clear:both;
	float:left;
	margin-top: 22px;
	background-image:url(/assets/loaders/loader.gif);
    background-repeat:no-repeat;
	background-position:center;
}

/* ---------------------------- 3.2.1 ABOUT US -------------------------------- */
#module-wrapper
{
	float:left;
	width: 100%;
	height: 100%;		
}

.module-about-us
{
	top:0px;
	width:580px;
	height:100%;
	background-color:#FFFFFF;
}
#module-text-page-holder-about-us
{
	position:relative;
	display:inline-block;
	margin: 45px 45px;
}
/* ---------------------------- 3.2.1 END ABOUT US ---------------------------- */


/* ---------------------------- 3.2.2 PHILOSOPHY ------------------------------ */
.module-philosophy
{
	width:700px;
	background-color:#FFFFFF;
}
#module-text-page-holder-philosophy
{
	float:left;
	position:relative;
	margin:45px 45px;
}
/* ---------------------------- 3.2.2 END PHILOSOPHY -------------------------- */

/* ---------------------------- 3.2.3 ETHICS ---------------------------------- */
.module-ethics
{
	top:0px;
	width:580px;
	height:100%;
	background-color:#FFFFFF;
}
#module-text-page-holder-ethics
{
	display:inline-block;
	position:relative;
	margin:45px 45px;
}
.sub-title-text-ethics
{
	margin-left:152px;
	font-family:PT Sans;
	font-weight: normal;
	font-size:16px;
	color:#0c0c0c; 
	text-align:right;	
}

/* ---------------------------- 3.2.3 END ETHICS ------------------------------ */



/* ---------------------------- 3.2.5 CAREERS ---------------------------------- */
.module-careers
{
	width:600px;
	background-color:#FFFFFF;
}
#module-text-page-holder-careers
{
	display:inline-block;
	float:left;
	position:relative;
	margin:45px;
}
.main-text-holder-careers
{
	clear:both;
	position:relative;
	float:left;
	margin-top: 10px;
}
.main-text-holder-careers p
{
	font-family:PT Sans;
	line-height:170%;
	font-size:13px;
	color:#444444; 
	text-align:justify;	
}

.media-holder-careers
{
	clear:both;
	position:relative;
	float:left;
	margin-top: 10px;
	background-image:url(/assets/loaders/loader.gif);
    background-repeat:no-repeat;
	background-position:center;
}


.custom-separator-careers
{
	clear:both;
	position:relative;
	float:left;
	margin-top: 10px;
	width:100%;
	height:1px;
	background-color:#a0a0a0;	
}
/* ---------------------------- 3.2.5 END CAREERS ------------------------------ */

/******** MODULE POSITIONS *******/
/*
 * lc - left center
 * cc - center center
 * rc - right center
 * bc - bottom center
 */
 



/******** END MODULE POSITIONS ***/


/* ============================ 4. NEWS ============================= */

/* ============================ 4.1 NEWS - VERTICAL ================= */
#module-news-vertical
{
	float: left;
    position: relative;
    z-index: 3;
	overflow:hidden;
}
.module-news-vertical
{
	top:0px;
	width:580px;
	height:100%;
	background-color:#FFFFFF;
}
.news-vertical-preview-horizontal-fix, #news-vertical-preview ul li { width:540px; } 

#module-news-vertical-holder
{
	position:absolute;
	width:100%;
	height:100%;
	z-index:1;
}



#module-news-vertical-container
{
	position:relative;
	display:inline-block;
	margin: 45px 45px;
}

#module-news-preview-holder{
	height: 100%;
	top:0px;
    position: absolute;
    width: 100%;
	z-index:2;
	display:none;	
}
#module-news-preview-container{
	display: inline-block;
    margin: 39px 45px;
    position: relative;
	overflow:hidden;
}
.news-item-vertical
{
	position:relative;
	float:left;	
	margin-top: 22px;	
	z-index: 4;
}
.news-item-vertical-title
{
	position:relative;
	float:left;
	margin: 0 0 20px;
	font-family:PT Sans;
	font-weight: bold;
	font-size:18px;
	color:#3f3f3f; 
	text-align:left;	
	cursor:pointer;
}
.media-holder-news-vertical
{
	clear:both;
	position:relative;
	float:left;
	margin-top: 0px;
	background-image:url(/assets/loaders/loader.gif);
    background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
}
.news-item-vertical-read-more
{
	position:relative;
	float:left;
	background-color: #3F3F3F;
	cursor: pointer;
	cursor: hand;
	margin-top: 15px;	
	width: 18%;
}
.news-item-vertical-read-more span
{
	position:relative;
	float:left;
	width: 94%;
	padding: 3%;
	font-family: PT Sans; /*'Open Sans',sans-serif;*/
	font-size: 13px;
    line-height: 200%;	
	color: #ffffff;
	overflow:hidden;	
	text-decoration:none;
	outline:none;
	text-align:center;	
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#news-preview-controls{
	position:relative;
	float:right;
	left: 0px;		
	margin: 0px;
}

.news-preview-backward, .news-preview-close, .news-preview-forward
{
	position:relative;
	float:left;
	background-color: #3F3F3F;
	cursor: pointer;
	cursor: hand;
	margin-left: 4px;
	width: 38px;
	height:38px;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
	
}
.news-preview-backg
{
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left: 0px;
	background-color:#3f3f3f;	
}
.news-preview-backward-sign, .news-preview-forward-sign, .news-preview-close-sign
{
	position:relative;
	float:left;
	width:100%;
	height:100%;	
    background-repeat:no-repeat;
	background-position:center;	
	background-image:url(/assets/synergy_sprite.png); 
}
.news-preview-backward-sign{ background-position: -198px -198px; }
.news-preview-close-sign{ background-position: -232px -197px; }
.news-preview-forward-sign{	background-position: -266px -198px; }

.news-preview-horizontal-fix
{	
	position:relative;
	float:left;
	margin: 20px 0px 20px 0px;
}
#module-news-preview-container ul{
	float:left;	
	list-style-type: none;
	position:relative;
}
#module-news-preview-container ul li{
	float:left;
	margin-right: 45px;
}
.news-preview-horizontal-fix, #module-news-preview-container ul li { width:490px; } 

.custom-separator-preview-news{ margin-top: 0px; margin-bottom:20px; }
.media-holder-news-preview
{
	clear:both;
	width: 100%;
	height: 100px;
	overflow:hidden;
	float:left;
	margin-top: 22px;
	background-image:url(/assets/loaders/loader_circle.gif);
    background-repeat:no-repeat;
	background-position:center;
}
/* ============================ 6. CONTACT ========================= */
#module-contact-container{
	display: inline-block;
    position: relative;
	width:100%;
}
#map-holder, #media-holder-contact
{
	position:relative;
	float:left;
	width: 100%;
	height: 360px;
	z-index:2;	
	display:none;
	background-image:url(/assets/loaders/loader.gif);
    background-repeat:no-repeat;
	background-position:center;
	background-color: #f5f5f5;
}
#media-holder-contact{ display: inline-block; overflow:hidden;}
#map-holder iframe
{
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display:none;	
}
#module-contact
{
	clear:both;
	position:relative;
	float:left;
	z-index:3;
	width:100%;
	height:330px;
	visibility:visible;
}
.module-contact-background
{
  	position:relative;
	float:left;
	width:100%;
	height:330px;
  	background-color:#FFFFFF;	
}
#module-contact-holder
{
	position:absolute;
	width: 635px;	
	right:0;
	margin-top: 20px;	
}
.contact-information
{
	position:relative;
	float:left;
	width: 40%; 
	height: 250px;
	margin-top: 10px;
}
.contact-information-title
{
	position:relative;
	float: left;
	width: 100%;
	margin-top: 16px;	
}
.contact-information-title p
{
	font-family:PT Sans;
	font-weight: bold;
	font-size:20px;
	color:#333333; 
	text-align:left;	
}
.contact-information-details
{
	position:relative;
	float: left;
	width: 100%;
	margin-top: 20px;
}
.contact-information-details img
{
	position:relative;
	float: left;
	width: 30px;
	height: 30px;
}
.contact-information-details p
{
	position:relative;
	float: left;
	width: 160px;
	margin-left: 15px;
	margin-top: 8px;
	font-family:PT Sans;
	font-weight: normal;
	font-size:14px;
	color:#444444; 
	text-align:left;
}
.contact-information-details p a
{
	position:relative;
	float: left;	
	font-family:PT Sans;
	font-weight: normal;
	text-decoration: none;
	font-size:14px;
	color:#4c4c4c; 
	text-align:left;
}
.contact-information-details p a:hover
{
	font-family:PT Sans;
	font-weight: normal;
	text-decoration: underline;
	font-size:14px;
	color:#4c4c4c; 
	text-align:left;
}
.contact-form-holder
{
	position:relative;
	float:left;
	width: 56%; 
	height: 250px;
	margin-top: 10px;
	margin-left: 4%;
}
.contact-form-holder form
{
	position: relative;
	float: left;
	width: 100%; 
	margin-top: 8px;	
}
.form-input-half-left
{
	position:relative;
	float: left;
	width: 48%; 
	height: 30px;
	margin: 2px auto;	
}
.form-input-half-left input, .form-input-half-right input
{
	position:absolute;
	float:left;
	left: 0px;
	width: 97%; 
	height:25px;
	top: 0px;
	margin: 3px auto;
	margin-left: 5px;
	padding: 0;
	background-color:transparent;
	border: none;
    font-family:PT Sans;
	font-weight: normal;
	text-decoration: none;
	font-size:14px;
	color:#0c0c0c; 
	text-align:left;
	overflow:hidden;
	outline: none;
}

.form-input-half-right
{
	position:relative;
	float:left;
	width: 48%;  
	height: 30px;
	margin: 2px auto;
	margin-left: 2%;
}

.form-input-large
{
	position:relative;
	float: left;
	width: 98.5%;  
	height:30px;
	margin: 5px 1% 2px 0;
}
.form-input-large input
{
	position:absolute;
	float:left;
	left: 0px;
	width: 98.5%; 
	height:25px;
	top: 0px;
	margin: 3px auto;
	margin-left: 5px;
	padding: 0;
	background-color:transparent;
	border: none;
    font-family:PT Sans;
	font-weight: normal;
	text-decoration: none;
	font-size:14px;
	color:#0c0c0c; 
	text-align:left;
	overflow:hidden;
	outline: none;
}
.form-input-textarea
{
	position:relative;
	float: left;
	width: 98.5%; 
	height:120px;
	margin: 5px 1% 2px 0;
	
}
.form-input-textarea textarea
{
	position:absolute;
	float:left;
	left: 0px;
	width: 98.5%; 
	height:115px;
	margin: 3px auto;
	margin-left: 5px;
	padding: 0;
	background-color: transparent;
	border: none;
    font-family:PT Sans;
	font-weight: normal;
	text-decoration: none;
	font-size:14px;
	color:#0c0c0c; 
	text-align:left;
	overflow:hidden;	
	outline: none;
}
.form-input-border{
	border: #6e6e6e 1px solid;	
}
.form-input-error-border{
	border: #cc0033 1px solid;	
}
.form-input-background
{
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	background-color: #9e9e9e;	
}
#response-form{
	display:none;
	position:relative;
	float:left;
	left: 0px;
	margin-top: 6px;
	margin-right: 0px;	
	line-height: 110%;
	width: 48%;	
}
#response-form p, #response-form span
{
	display:none;
	font-family:PT Sans;
	font-weight: bold;
	text-decoration: none;
	font-size:13px;
	color:#3f3f3f; 
	text-align:left;
}
#response-form span{ color: #cc0033; }
.form-buttons
{
	position:relative;
	float:right;
	right: 0px;
	margin-top: 6px;
	margin-right: 0px;
	width: 48%;
}
#form-reset, #form-send
{
	position:relative;
	float:left;
	width: 45%;
	line-height: 200%;
	background-color: #3F3F3F;
	margin-left: 7px;
	cursor: pointer;
	cursor: hand;
}
#form-reset p, #form-send p
{
	font-family:PT Sans;
	font-weight: normal;
	text-decoration: none;
	font-size:13px;
	color:#FFFFFF; 
	text-align:center;
}
/* ============================ 7. SHOWREEL ======================== */
#module-showreel
{
	float:left;
	z-index:2;
}
.module-showreel
{			
	width:648px;
	height:398px;
	background-color:#FFFFFF;
    overflow:hidden;
}
#module-showreel-holder
{
	position:relative;
	width: 640px;
    height: 390px;	
	vertical-align:middle;
	margin-left:4px;
    margin-top: 4px;
    background-image:url(/assets/loaders/loader.gif);
    background-repeat:no-repeat;
	background-position:center;
}
#showreel-video
{
    position: relative;
    float: left;
    width: 640px;
    height: 390px;
    overflow:hidden;
    display: none;
    visibility: hidden;
}
#showreel-video iframe, #showreel-video object, #showreel-video #standalone_wrapper
{
    position: absolute;
    top: 0px;
    left: 0px; 
    width: 640px;
    height: 390px;  
}
/* ============================ XX. FULLSCREEN VIDEO ================= */
#module-fullscreen-video{
    float: left;
    position: relative;
    z-index: 2;
}
.module-fullscreen-video {
    height: 100%;
    top: 0;
    width: 580px;
}
#fullscreen-video-holder
{
	position: relative;
    float: left;
    width: 100%;
    height: 100%;
    overflow:hidden;
	background-image:url(/assets/loaders/loader_circle.gif);
    background-repeat:no-repeat;
	background-position:center;	
}
#fullscreen-video iframe, #fullscreen-video object, #fullscreen-video #standalone_wrapper
{
    position: absolute;
    top: 0px;
    left: 0px; 
    width: 100%;
    height: 100%;  
}
#video-wrapper
{
	position: relative;
    float: left;
    width: 100%;
    height: 100%;
	/*-webkit-transform-style:preserve-3d;
	-webkit-transform:translateZ(0);*/
}
#standalone-wrapper,
#video-wrapper iframe,
#video-wrapper object,
#video-wrapper embed
{
	position: absolute;
    top: 0px;
    left: 0px; 
    width: 100%;
    height: 100%;
} 
/* ============================ XX. PRICING TABLES =================== */
#module-pricing
{
	float: left;
    position: relative;
    z-index: 2;
}
.module-pricing
{
	width:770px;
	height:100%;	
}
#module-pricing-container
{
	position: absolute;
    top: 0;
	display:inline-block;
	margin:40px 0px;
	z-index:2;
}
.module-pricing-holder-backg
{
	position:absolute;
	float:left;
	width: 100%;
	background-color:#F9F9F9;
	height:100%;	
}
#module-pricing-holder
{
	position:relative;
	float:left;
	display:inline-block;
	margin:30px 24px;
	z-index:2;
}
#pricing-column-holder-features
{
	position: relative;
	width: 25%;
	float: left;
}

#pricing-column-holder
{
	position:relative;
	float:left;
	width: 25%;
	z-index:1;
}
#pricing-column-header-features, #pricing-column-header-basic, #pricing-column-header-premium, #pricing-column-header-corporate
{
    float: left;
    position: relative;
    width: 100%;
}
#pricing-column-header-basic-buy, #pricing-column-header-premium-buy, #pricing-column-header-corporate-buy
{
    float: left;
    position: relative;
    width: 100%;
}
.pricing-buy-holder-backg
{
	position:absolute;
	width: 100%;
	background-color:#F9F9F9;
	height:100%;
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-bottom: 1px solid;		
}
#pricing-buy-holder
{
	position:relative;
	float:left;
	margin: 10% 24%;
	width: 52%;
	background-color: #3F3F3F;
	cursor: pointer;
	cursor: hand;
}
#pricing-buy-holder span
{
	position:relative;
	float:left;
	width: 100%;
	padding: 5px 0px 5px 0px;
	font-family: PT Sans; /*'Open Sans',sans-serif;*/
	font-size: 16px;
    line-height: 200%;
	color: #ffffff;
	overflow:hidden;	
	text-decoration:none;
	outline:none;
	text-align:center;		
}

#pricing-header-backg
{
	background-color: #cfcfcf;
    float: left;
    height: 40%;
    margin: 0 0;
    position: absolute;
    width: 100%;	
	z-index:1;
	border-bottom: 1px solid #222222;
}
#pricing-column-header-features{ visibility:visible; }
#pricing-column-header-basic
{
	background-color:#909090;	
}
#pricing-column-header-premium
{
	background-color:#909090;	
}
#pricing-column-header-corporate
{
	background-color:#909090;	
}
#pricing-column-header
{
    float: left;    
    margin: 4% 0;
    position: relative;
    width: 100%;
	z-index:2;
}
	
#pricing-column-header h1
{
	position:relative;
	float:left;
	margin-bottom: 20px;
	width:100%;
	font-size: 14px;	
	color: #ffffff;
	text-align:center;	
}
#pricing-column-header h2
{
	position:relative;
	float:left;
	width:100%;
	margin-bottom: 0px;
	font-size: 24px;	
	color: #ffffff;
	text-align:center;	
}
#pricing-column-header h2 span
{
	font-weight: normal;
	color: #f6f6f6;
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6
{
	color: #444444;
    font-family: PT Sans Caption,'Open Sans','Lucida Sans Unicode','Lucida Grande',sans-serif;
    font-weight: normal;
    line-height: 125%;
    margin-bottom: 10px;
}
#pricing-column-holder-features ul, #pricing-column-holder ul
{
	position:relative;
    float:left;
    padding: 0;
    list-style-type: none;
	border-left: 1px solid transparent;
}

#pricing-column-holder-features ul li, #pricing-column-holder ul li
{
	position:relative;
	float:left;
	width: 100%;
	background-color: #f9f9f9;
    border-bottom: 1px solid #D0D0D0;
}
#pricing-column-holder-features ul li:nth-child(2n+2), #pricing-column-holder ul li:nth-child(2n+2)
{
	background-color: #f4f4f4;
    border-bottom: 1px solid #D0D0D0;
}
#pricing-column-holder-features ul li:last-child, #pricing-column-holder ul li:last-child
{
	border-bottom: 0px solid #3f3f3f;
}
#pricing-column-holder-features ul li span, #pricing-column-holder ul li span
{
	position:relative;
	float:left;
	width: 100%;
	padding: 5px 0px 5px 0px;
	font-family: PT Sans; /*'Open Sans',sans-serif;*/
	font-size: 13px;
    line-height: 200%;	
	color: #3f3f3f;
	overflow:hidden;	
	text-decoration:none;
	outline:none;
	text-align:center;
}
#pricing-column-holder-features ul li span
{
	text-align:left;
	width: 96%;
	padding-left: 4%;	
}
/* ============================ 7. FULL WIDTH MODULE ======================= */
#module-full-width
{
	position:relative;
	float: left;
    z-index: 2;
	height: 100%;
}
#module-full-width-holder-text
{
	position:relative;
	display:inline-block;
	z-index:2;
}
#module-full-width-media, #module-full-width-text
{
	float:left;
	width:100%;
}	

#module-full-width-media{
	overflow:hidden;
	background-image:url(/assets/loaders/loader_circle.gif);
    background-repeat:no-repeat;
	background-position:center;	
}
.full-width-text-title, .full-width-text-content, .full-width-text-content-dropcaps
{
	float:left;	
	margin-left: 30px;
	margin-right: 30px;
}
#module-full-width-text{ margin-bottom: 20px; }
.full-width-text-title p, .full-width-text-content span, .full-width-text-content p
{
	float:left;
	width: 100%;
	font-family:PT Sans;
	font-weight: normal;
	font-size:18px;
	color:#3f3f3f;
    text-align:justify;
	margin-top: 20px;
}
.full-width-text-content-dropcaps p
{
	font-family:PT Sans;
	font-weight: normal;
	color:#3f3f3f;
    text-align:justify;
	margin-top: 20px;
}
.full-width-text-content-dropcaps span{ 
	float: left;
	color: #d00355; 
	font-size: 66px; 
	line-height:82%;
	padding-right: 8px; 
	padding-left: 3px; 
	padding-top: 20px;
	font-family: PT Sans; 
}
.full-width-text-content span, .full-width-text-content-dropcaps p
{
	line-height:140%;
	font-size:13px;	
}
.full-width-text-content-half-left, .full-width-text-content-half-right
{
	float:left;
	width: 48%;
	margin-right: 2%;
}
.full-width-text-content-half-right{ margin-left: 2%; margin-right: 0; }

.full-width-text-content-third-left, 
.full-width-text-content-third-right, 
.full-width-text-content-third-middle
{
	float:left;
	width: 30.6%;
	margin-right: 2%;
}
.full-width-text-content-third-right{ margin-left: 2%; margin-right: 0; }
.full-width-text-content-third-middle{ margin-left: 2%; }

.full-width-text-content-fourth-left, .full-width-text-content-fourth-right,
.full-width-text-content-fourth-middle
{
	float:left;
	width: 22%;
	margin-right: 2%;
}
.full-width-text-content-fourth-right, .full-width-text-content-fourth-third{ margin-left: 2%; margin-right: 0; }
.full-width-text-content-fourth-middle{ margin-left: 2%; }*/
/* ============================ 8. FULL WIDTH GALLERY ======================= */
#module-full-width-gallery
{
	color:#666666;
}
.module-full-width-gallery
{
	float: left;
    position: relative;
    z-index: 2;
	width:966px;
	height:100%;
	background-color:#FFFFFF;
}
#module-full-width-holder
{
	position: absolute;
    top: 0px;
	left: 0px;
	width:100%;
	height:100%;
	display:inline-block;
	z-index:2;
}
.full-width-item
{
	position:relative;
	float:left;
    background-image:url(/assets/loaders/loader_circle.gif);
    background-repeat:no-repeat;
	background-position:center;
	width: 480px;
	height: 294px;
	overflow:hidden;
	cursor:pointer;
}
.full-width-item .item-title
{
	position:absolute;
	width:100%;
	bottom:0px;	
}
.full-width-item .item-title p
{
	position:relative;
	float:left;
	width: 90%;
	font-family:PT Sans;
	font-weight: bold;
	font-size:18px;
	color:#e3e3e3; 
	text-align:center;
	margin: 5%;
	line-height:140%;	
}
/*.full-width-item img{ width: 100.5% }*/
#full-width-preview
{
	position:absolute;	
	width:100%;
	height:100%;
    left: 0px;
    top: 0px;	
    z-index:1000;
    display:none;
    visibility: hidden;
}
.full-width-preview-background
{
    position:absolute;	
	width:100%;
	height:100%;
    left: 0px;
    top: 0px;
    background-color:#000000;
    z-index:991;
}
#full-width-preview-info-holder
{
	position:absolute;
	height: 100%;
	top:0px;
	z-index:992;	
	visibility:visible;
}
#full-width-info-container
{
	/*position:relative;
	float:left;*/
	display: inline-block;
    position: relative;
    z-index:2;	
}
.full-width-info-container
{
	top:0px;
	width:380px;
	height:100%;
	background-color:#FFFFFF;
}
.full-width-info-holder
{
	position:relative;
	float:left;
	height:100%;
	margin:9%;
	width:82%;	
}
.full-width-info-holder-desc
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;		
    display:none;
    visibility: hidden;
}
.full-width-info-holder-desc p, .full-width-info-holder-desc span
{
	position:relative;
	float:left;
	width:100%;
	font-family:PT Sans;
	font-weight: normal;
	font-size:18px;
	color:#3f3f3f;
    text-align:justify;
}
.full-width-info-holder-desc span
{
	line-height:140%;
	font-size:13px;
	margin-top: 20px;	
}
#full-width-preview-media-holder
{
	position:absolute;
	top:0px;
	left: 0px;
	width:100%;/*********/
	height: 100%;
	z-index:992;
}
.full-width-preview-media-holder-background
{
    position:absolute;	
	width:100%;
	height:100%;
    left: 0px;
    top: 0px;
    background-color:#000000;
}
.full-width-preview-media-loader, .gallery-preview-media-loader
{
    position:relative;
    width: 60px;
    height: 40px;
    top: 50%;
    left:50%;
    margin-top: -20px;
    margin-left: -30px;
    background-color:#f9f9f9; 
    background-image:url(/assets/loaders/loader.gif);
    background-repeat:no-repeat;
	background-position:center; 
}
.preview-smartphone-info{
    position:absolute;
	display:none;
    bottom: 0px;
	width:100%;
	cursor:pointer;
	z-index:1000;   
}
.preview-smartphone-info span{
    line-height: 40px;
   	font-family:PT Sans;
	font-weight: normal;
	font-size:18px;
	color:#D00355;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 9;
}
.preview-smartphone-info span.show_info{
    display:inline-block;    
}
.preview-smartphone-info span.hide_info{
    display:none;    
}
.preview-arrow-forward, .preview-arrow-backward , .preview-arrow-close 
{
	position:absolute;
	display:none;
	top:50%;
	margin:-23px 30px 0px 0px;
	right:0px;
	width:46px;
	height:46px;
	cursor:pointer;
	z-index:993;
	
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;	
}
.preview-arrow-close{ margin-right: 30px; display:none;  top:50px; z-index:993;}
.preview-arrow-backward{ left:0px; margin:-23px 0px 0px 30px; }
.preview-arrow-backg, .preview-smartphone-info-backg
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#3f3f3f;
}
.preview-smartphone-info-backg{ background-color: #FFFFFF; }
.preview-arrow-backward-sign, .preview-arrow-close-sign, .preview-arrow-forward-sign
{
	position:relative;
	float:left;
	width:100%;
	height:100%;
	background-image:url(/assets/synergy_sprite.png); 
    background-repeat:no-repeat;
	background-position:center;	
}
.preview-arrow-backward-sign{ background-position: -194px -194px; }
.preview-arrow-close-sign{ background-position: -228px -193px; }
.preview-arrow-forward-sign{ background-position: -262px -194px; }

/* ============================ 8. COLUMNS PORTFOLIO ================ */
#module-background-solid1
{
	background-color:#ffffff;
	position:absolute;
	top:0px;
	left: 0px;
	width:100%;
	height:100%;
	z-index:1;
}
#module-background-solid2
{
	position:absolute;
	top:0px;
	left: 0px;
	width:100%;
	height:100%;
	z-index:1;
	background-color:#ffffff;
}
#module-columns
{
	float: left;
    position: relative;
    z-index: 2;
}
.module-columns
{
	width:966px;
	height:100%;
}
#module-columns-container, #module-columns-preview
{
	position: relative;
    float:left;
	display:inline-block;
	margin:40px 14px;
	z-index:2;
}
#module-columns-preview{ overflow:hidden; }
#module-columns-wrapper, #module-columns-preview-wrapper{
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	left: 0px;	
}
#module-columns-preview-wrapper{ display:none; }
#module-columns-holder
{
	clear:both;
	position:relative;
	float:left;
	display:inline-block;
	z-index:2;
}
.columns-filter-holder
{
	position:relative;
	float:right;
	display:block;
	width:100%;
    margin-bottom: 6px;
	/*height: 40px;*/
	margin-bottom: 0px;
}
.columns-horizontal-separator
{
	position:relative;
	float:right;
	display:block;
	width:100%;
	height: 1px;
	background-color:#D9D9D9;
	margin-top:10px;
	margin-bottom: 20px;
}
#filter-buttons-holder
{
	position:relative;
	float:right;
	display:block;
	width:100%;
	margin: 0px 5px 0px 5px;	
}
.filter-button
{
	position:relative;
	float:right;
	display:block;	
	margin: 0px 0px 2px 4px;
	padding: 4px 13px;
	font-family: PT Sans; /*'Open Sans',sans-serif;*/
	font-size: 13px;	
	color: #3f3f3f;
	overflow:hidden;	
	text-decoration:none;
	outline:none;
	text-align:center;
	line-height:200%;
	cursor:pointer;
	cursor: hand;
}
.filter-button.selected
{
	color: #ffffff;
}

/************* fourth column ************/
.fourth-thumb-holder
{
	position:relative;
	float:left;
	width: 222px;
	height: 240px;
	background-color:#FFFFFF;
	margin-right: 14px;
	margin-bottom: 14px;	
	cursor:hand;
	cursor:pointer;
	z-index: 3;
	overflow:hidden;
}
.fourth-thumb-holder:nth-child(4n +4)
{
	margin-right: 0px;
}
.fourth-thumb-holder:nth-last-child(-n+4)
{
	margin-bottom: 0px;
}
.fourth-thumb-image
{
	position:relative;
	float:left;	
	width: 220px;
	height:180px;
	margin-left: 1px;
	margin-top: 1px;
	overflow:hidden;	
	background-color:#FFFFFF;
	background-image:url(/assets/loaders/loader_circle.gif);
    background-repeat:no-repeat;
	background-position:center;
	z-index:1;
}

/************* third-column ************/
.third-thumb-holder
{
	position:relative;
	float:left;
	width: 300px;
	height: 260px;
	background-color:#FFFFFF;
	margin-right: 16px;
	margin-bottom: 16px;	
	cursor:hand;
	cursor:pointer;
	z-index: 3;
	overflow:hidden;
}
.third-thumb-holder:nth-child(3n +3)
{
	margin-right: 0px;
}
.third-thumb-holder:nth-last-child(-n+3)
{
	margin-bottom: 0px;
}
.third-thumb-image
{
	position:relative;
	float:left;	
	width: 298px;
	height:200px;
	margin-left: 1px;
	margin-top: 1px;
	overflow:hidden;	
	background-color:#FFFFFF;
	background-image:url(/assets/loaders/loader_circle.gif);
    background-repeat:no-repeat;
	background-position:center;
	z-index:1;
}
/************* half-column ************/
.half-thumb-holder
{
	position:relative;
	float:left;
	width: 459px;
	height: 340px;
	background-color:#FFFFFF;
	margin-right: 16px;
	margin-bottom: 16px;	
	cursor:hand;
	cursor:pointer;
	z-index: 3;
	overflow:hidden;
}
.half-thumb-holder:nth-child(2n +2)
{
	margin-right: 0px;
}
.half-thumb-holder:nth-last-child(-n+2)
{
	margin-bottom: 0px;
}
.half-thumb-image
{
	position:relative;
	float:left;	
	width: 457px;
	height:280px;
	margin-left: 1px;
	margin-top: 1px;
	overflow:hidden;	
	background-color:#FFFFFF;
	background-image:url(/assets/loaders/loader_circle.gif);
    background-repeat:no-repeat;
	background-position:center;
	z-index:1;
}
/************** COLUMNS PREVIEW *************/
.columns-preview-horizontal-fix
{	
	float:left;
	height:100%;		
}
.columns-preview-horizontal-fix ul
{	
	position:relative;
	float:left;
	left: 0px;
    list-style-type: none; 
}
.columns-preview-horizontal-fix ul li
{
    float:left;   
	margin-right:20px;
}
#module-columns-preview-holder
{
	display:inline-block;
	position:relative;	
	width: 938px;
	overflow:hidden;
}

#columns-preview-details
{
	float:left;
	width: 100%;
	height: 100%;
}
.columns-preview-media
{
    position:relative;
	float:left;
	width: 610px;  
	min-height: 100px;
	overflow:hidden;
	margin-bottom:20px;
	background-image:url(/assets/loaders/loader_circle.gif);
    background-repeat:no-repeat;
	background-position:center;
}
.columns-preview-description
{
	float:left;
	margin-left: 30px;
    width: 290px;
}
.columns-preview-description p, .columns-preview-description span
{
	float:left;
	font-family:PT Sans;
	font-weight: normal;
	font-size:18px;
	color:#3f3f3f;
    text-align:left;
	
		
}
.columns-preview-description span
{
	line-height: 140%;
	margin-top: 20px;
	font-size:13px;
	text-align:justify;
}

#columns-preview-controls
{
	position:relative;
	/*display:none;*/
	float:right;		
	margin: 3px 0px;
}
.columns-preview-counter, .news-preview-counter{
	float:left;
	background-color: #3F3F3F;
	margin-left: 1px;	
	height:38px;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.columns-preview-counter span, .news-preview-counter span 
{
	display:block;
	font-family:Century Gothic,Arial;
	font-weight: normal;
	font-size:14px;
	color:#ffffff; 
	text-align:center;	
	padding: 12px 12px;
	text-decoration:none;
	cursor:default;
	
}
.columns-preview-backward, .columns-preview-close, .columns-preview-forward, .columns-preview-backward
{
	position:relative;
	float:left;
	background-color: #3F3F3F;
	cursor: pointer;
	cursor: hand;
	margin-left: 4px;
	width: 38px;
	height:38px;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.columns-preview-backg
{
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left: 0px;
	background-color:#3f3f3f;	
}
.columns-preview-backward-sign, .columns-preview-forward-sign, .columns-preview-close-sign
{
	position:relative;
	float:left;
	width:100%;
	height:100%;	
	background-image:url(/assets/synergy_sprite.png); 
    background-repeat:no-repeat;
	background-position:center;	
}
.columns-preview-backward-sign{ background-position: -198px -198px; }
.columns-preview-close-sign{ background-position: -232px -197px; }
.columns-preview-forward-sign{	background-position: -266px -198px; }


#columns-slides-controls{
    position:absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 3;
}
.col-prev-media-slide{
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.col-prev-media-arrow-backward, .col-prev-media-arrow-forward
{
    position:absolute;
	top:50%;
	margin-top: -23px;
	right:0px;
	width:46px;
	height:46px;
	cursor:pointer;
	z-index:993;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none; 
}
.col-prev-media-arrow-backward{ left:0px; }
.col-prev-media-arrow-backg
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#3f3f3f;
}
.col-prev-media-arrow-backward-sign, .col-prev-media-arrow-forward-sign
{
	position:relative;
	float:left;
	width:100%;
	height:100%;	
    background-image:url(/assets/synergy_sprite.png); 
    background-repeat:no-repeat;
	background-position:center;	
}
.col-prev-media-arrow-backward-sign{ background-position: -194px -194px; }
.col-prev-media-arrow-forward-sign{	background-position: -262px -194px; }
/* ============================ 8. GALLERIES ======================= */
/* ============================ 8.1 IMAGE GALLERY ================== */
#module-galleries
{
	float: left;
    position: relative;
    z-index: 2;
}
.module-galleries
{
	width:966px;
	height:100%;
}
#galleries-background
{
	background-color: #EEEEEE;
    height: 100%;
    width: 100%;
	z-index:1;
}
#module-gallery-pattern
{
	position:absolute;
	top:0px;
	left: 0px;
	width:100%;
	height:100%;
	background-image:url(/assets/patterns/body_pattern1.png);
	background-repeat:repeat;
		
}
#module-galleries-holder
{
	position: absolute;
    top: 0;	
	display:inline-block;
	margin:40px 14px;
	z-index:2;
}

.thumb-holder
{
	position:relative;
	float:left;
	width: 222px;
	height: 230px;
	background-color:#FFFFFF;
	margin-right: 14px;
	margin-bottom: 14px;	
	cursor:hand;
	cursor:pointer;
	z-index: 3;
	overflow:hidden;
}
.thumb-image
{
	position:relative;
	float:left;	
	width: 220px;
	height:180px;
	margin-left: 1px;
	margin-top: 1px;
	overflow:hidden;	
	background-color:#FFFFFF;
	background-image:url(/assets/loaders/loader_circle.gif);
    background-repeat:no-repeat;
	background-position:center;
	z-index:1;
}
.thumb-selected #thumb-image-hover{ display:inline; }
#thumb-image-hover .background
{
	display:block;
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background-color:#0c0c0c;
}
.zoom-gallery, .zoom-gallery-small
{
	position:absolute;
	top:0;
	width:100%;
	height:100%;	
	background-repeat:no-repeat;
	background-position:center;
}
.zoom-gallery{ background-image:url(/assets/media/zoom_gallery.png); }
.zoom-gallery-small{ background-image:url(/assets/media/zoom_gallery_small.png); }

.play-gallery
{
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background-image:url(/assets/media/play_gallery.png);
	background-repeat:no-repeat;
	background-position:center;
	/*z-index:3;*/
}
#thumb-image-hover
{
	position:absolute;
	width:100%;
	height:100%;	
	z-index:2;
}
.hover-default
{
	display:visible;
	top: 0px;
    left: -100%;
}
/* Initial state classes: */
.hover-slideFromTop {
    left: 0px;
    top: -100%;
}
.hover-slideFromBottom {
    left: 0px;
    top: 100%;
}
.hover-slideFromLeft {
    top: 0px;
    left: -100%;
}
.hover-slideFromRight {
    top: 0px;
    left: 100%;
}
/* Final state classes: */
.hover-slideTop {
    top: 0px;
}
.hover-slideTopLeft {
    left: 0px;
	top: 0px;
}
.thumb-tag
{
	clear:both;
	position:relative;
	float:left;
	width: 100%;
    margin-top: 9px;
	overflow:hidden;
}
.thumb-tag p
{
	position:relative;
	float:left;
	width: 100%;
	font-family:PT Sans;
	font-weight: normal;
	font-size:14px;
	color:#3f3f3f; 
	text-align:center;
	margin-top: 8px;
	line-height:120%;
}
.thumb-tag h1, .thumb-tag h2
{
	position:relative;
	float:left;
	overflow:hidden;
	width: 100%;
	font-family:PT Sans;
	font-weight: normal;
	font-size:14px;
	color:#3f3f3f; 
	text-align:center;
	margin-top: 2px;
	margin-bottom:2px;
}
.thumb-tag h2
{
	font-size:12px;	
	font-style:italic;
	color:#909090;
}
.thumb-tag span
{
	position:relative;
	float:left;
	width: 22px;
	height: 22px;
}
#dragger-holder
{
	display:block;
	width: 10px;
	height: 230px;	
	position:relative;
	float:left;
}
.dragger_container
{
	display:block;
	width: 10px;
	height: 230px;
	position:absolute;
	top: 0px;
	left: 0px;
	
	/*margin-left: 6px;*/
	background-color:#444444;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";/* IE 8 */  	
  	filter: alpha(opacity=60);/* IE 5-7 */  	
  	-moz-opacity: 0.6;/* Netscape */  	
  	-khtml-opacity: 0.6;/* Safari 1.x */  	
  	opacity: 0.6;/* Other browsers */
}
.dragger
{
	position:absolute;
	top: 0px;
	left: 0px;
	display:block;
	width: 10px;
	height: 60px;	
	background-color:#FFFFFF;
	cursor: pointer;
	cursor: hand;
}

#module-galleries-preview
{
	position:absolute;	
	width:100%;
	height:100%;
    left: 0px;
    top: 0px;	
    z-index:100;
    display:none;
    visibility: hidden;
}
#module-galleries-preview-background
{
    position:absolute;	
	width:100%;
	height:100%;
    left: 0px;
    top: 0px;
    background-color:#000000;
    /*z-index:91;*/
}
#preview-media-holder
{
    position:absolute;
    margin: 4px;
    width: 292px;
    height: 292px;  
    overflow:hidden;
}
#preview-media-load
{
    position: relative;
    top: 0px;
    left: 0px;
    display: none;
    visibility: hidden;
	
}
#preview-media-video
{
    position: relative;
    float: left;
    width: 640px;
    height: 390px;
    overflow:hidden;
    display: none;
    visibility: hidden;
}
#module-galleries-preview-description-holder
{
    position:fixed;
    width: 100%;
    height: 36px;
    bottom:-36px;  
    z-index:96;
}
#module-galleries-preview-description-background
{
    position:relative;
    width: 100%;
    height: 36px; 
    background-color:#FFFFFF;  
    z-index:93;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";/* IE 8 */  	
  	filter: alpha(opacity=80);/* IE 5-7 */
  	
  	-moz-opacity: 0.8;/* Netscape */  	
  	-khtml-opacity: 0.8;/* Safari 1.x */  	
  	opacity: 0.8;/* Other browsers */
}
.module-galleries-preview-description-text
{
    position: absolute;
    top: 9px;    
    font-family:PT Sans;
	font-weight: normal;
	font-size:16px;
	color:#3f3f3f; 
    width: 100%;
    text-align:center;	
    z-index:94;
    display:none;
    visibility: hidden;
    
}

/*--------------------------------------------*/

.module-galleries-preview-arrow-forward, .module-galleries-preview-arrow-backward, .module-galleries-preview-arrow-close
{
	position:absolute;
	top:50%;
	margin-top: -23px;
	right:30px;
	width:46px;
	height:46px;
	cursor:pointer;
	z-index:993;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;	
}
.module-galleries-preview-arrow-close{ right: 30px;  top:20px; margin-top: 0px; z-index:993;}
.module-galleries-preview-arrow-backward{ left:30px; }
.module-galleries-preview-arrow-backg
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:#3f3f3f;
}
.module-galleries-preview-arrow-backward-sign, 
.module-galleries-preview-arrow-forward-sign,
.module-galleries-preview-arrow-close-sign
{
	position:relative;
	float:left;
	width:100%;
	height:100%;	
    background-image:url(/assets/synergy_sprite.png); 
    background-repeat:no-repeat;
	background-position:center;	
}
.module-galleries-preview-arrow-backward-sign{ background-position: -194px -194px; }
.module-galleries-preview-arrow-close-sign{ background-position: -228px -193px; }
.module-galleries-preview-arrow-forward-sign{	background-position: -262px -194px; }



/* ============================ 8. PORTFOLIO ======================= */
#module-portfolio
{
	position:fixed;	
	top:0px;	
	z-index:2;
	width:100%;
	height:100%;
}
.module-portfolio-background
{
	position:relative;
	float:left;
	width:175px;
	height:100%;
  	background-color:#FFFFFF;	
}
#module-portfolio-holder
{
	position:relative;
	float:left;
	top:0px;
	left:0px;
	width:175px;
	height:100%;
	margin-top:0px;
	z-index:4;
}
#portfolio-items-holder
{
	position:absolute;
	float:left;
	top:0px;
	left:0px;
	overflow:hidden;
	height:654px;
	width: 155px;
	margin-top: 10px;
	margin-left: 10px;
}
.portfolio-items-container
{
	position:relative;
	float:left;	
	left: 0px;
}
.portfolio-item-holder
{
	position:relative;
	float:left;
	width: 155px;
	height:104px;	
	margin-bottom: 5px;
	background-color: #FFFFFF;
	cursor: hand;
	cursor: pointer;
	overflow:hidden;
}
.portfolio-item-image
{
	
	position: relative;
    float: left;
	width: 145px;
    height: 94px;
    margin-left: 4px;
    margin-top: 4px;
    overflow: hidden;
    background-color: #FFFFFF;
	border: 1px solid #0c0c0c;
	background-image:url(/assets/loaders/loader.gif);
    background-repeat:no-repeat;
	background-position:center;
    
}
.portfolio-item-tooltip-holder
{
	position: absolute;
	top:76px;
	left: 5px;
	width: 145px;
    height: 24px;
	overflow:hidden;
}
.portfolio-item-tooltip
{
	position: absolute;
	top:24px;
	left: 0px;
	width: 145px;
    height: 24px;
}

.tooltip-background
{
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;	
		
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";/* IE 8 */  	
  	filter: alpha(opacity=80);/* IE 5-7 */
  	
  	-moz-opacity: 0.8;/* Netscape */  	
  	-khtml-opacity: 0.8;/* Safari 1.x */  	
  	opacity: 0.8;/* Other browsers */
}
.portfolio-item-tooltip span
{
	
	position:relative;
	display: block;
    height: 24px;
    margin: 6px auto;
	font-family: PT Sans Caption; /*'Open Sans',sans-serif;*/
	font-size: 12px;	
	color: #ffffff;
	overflow:hidden;	
	text-decoration:none;
	outline:none;
	text-align:center;
}

#module-portfolio-preview
{
	width:100%;
	height:100%;
	left: 175px;	
	background-color:#ffffff;
	background-image:url(/assets/loaders/loader.gif);
    background-repeat:no-repeat;
	background-position:center;		
	z-index:3;	
}
.preview-slide
{
	width:100%;
	height:100%;
}
.portfolio-preview-slide
{
	position:absolute;
	top: 0px;
	left: 175px;	
	z-index:1;
	visibility:visible;
	display:none; 	
}
#social-holder{
    clear:both;
    float:left;
    position:relative;
    margin: 20px 0px;
    width: 100%;
    min-height: 40px;
}
#social-holder-back{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #D9D9D9;
}
#social-holder iframe, #social-holder a{
    float:left;
    margin: 6px 5px 5px 10px;
    padding-top:3px;
    height:100%;
}
#social-holder a{ width: 78px; }

/* Holly Hack for IE \*/
* html .class-menu ul li { float: left; height: 1%; }
* html .class-menu ul li a { height: 1%; }
/* End */

#template-smpartphone-menu
{
	display:none;
	clear:both;
	position:relative;
	float:left;
	left: 50%;
	margin: 0px 0px 15px -120px;
	width: 240px;
	/*height: 40px;*/
	/*background-color:#FFFFFF;	*/
	
	z-index:9;
}
#template-smpartphone-menu select
{
	display:block;
	width: 100%;
	padding:5px;
	border: 1px solid #777777;	
}

/*------------------------------------------------------------------*/
/*						TOUCH DEVICES								*/
/*------------------------------------------------------------------*/
@media only screen and (min-width: 1025px) and (max-width: 1200px)
{
	#standard-banner{ height: 363px; }
	.home-layout2-content ul{ margin: 0px 21px; }
	.banner-desc-tr{ top: 50px; right: 50px; }
	.banner-desc-cr{ top: 100px; right: 50px; }
	.banner-desc-br{ bottom: 50px; right: 50px; }
	.banner-desc-tl{ top: 50px; left: 50px; }
	.banner-desc-cl{ top: 100px; left: 50px; }
	.banner-desc-bl{ bottom: 50px; left: 50px; }
	
	.module-home-layout3{ width: 824px; } #home-video-block{ width: 572px; height: 337px; }	
	#home-advertise, #home-advertise1, #home-advertise2{ height: 158px; width: 170px; } .advertise-image, #home-advertise img{ height: 120px; width: 170px; }

	.module-galleries{ width: 722px; }    
	
}
@media only screen and (min-width: 768px) and (max-width: 1024px)
{
	.template-logo{ margin-left: -80px; }
	.template-menu{ margin: 0px; }
    #audio-player{left: 0px;}
	footer{ width: 210px; }
	
	#thumb-image-hover{ display: none; }
	
	
	#standard-banner{ height: 251px; }
	.home-layout2-content ul{ margin: 0px 30px; } .home-layout2-content ul li{ margin: 20px 30px 20px 0px; width: 215px; }
	.banner-desc{ width: 100%; clear: both; float: left; position: absolute;} .banner-desc span{ padding: 10px; font-size:13px; } .banner-desc span h1{ margin-bottom: 5px; font-size:18px;}
	.banner-desc-tr, .banner-desc-cr,.banner-desc-br, .banner-desc-tl, .banner-desc-cl, .banner-desc-bl {bottom:3px; left:0px; top:auto; }	
	
	.home-layout-clients a{margin: 10px 0 10px 3px; }
	
	.module-home-layout3{ width: 556px; } #home-video-block{ width: 510px; height: 296px; margin-right: 0px; }	
	#module-home-layout3-holder{margin:25px 20px; width: 510px;}
	#home-advertise{ margin-top: 20px;  height: 210px; width: 510px; } #home-advertise1{ margin-bottom: 0px;} #home-advertise2{ margin-left: 20px; }
	#home-advertise1, #home-advertise2{ height: 210px; width: 245px; } .advertise-image, #home-advertise img{ height: 173px; width: 245px; }
	
	
	
	.module-about-us, .module-ethics, .module-careers{ width: 460px; } .module-philosophy{ width: 510px; }
	
	.module-pricing{ width: 510px; } #pricing-column-header h2{ font-size: 15px; } #pricing-column-header h1{ font-size: 12px; }
	#module-pricing-container{ margin: 5px 0px; }
	
	.module-news-vertical, #module-news-preview-holder{ width: 490px; } .news-preview-horizontal-fix, #module-news-preview-container ul li { width:400px; } 
	
	#module-contact-holder { width: 510px; }

	.module-galleries{ width: 486px; }
	
	.full-width-info-container{ width: 240px; }
     

}
@media only screen and (min-width: 480px) and (max-width: 767px)
{
	#menu-container{ position:absolute; width: 100%; height:auto; left:0px; z-index:10; }
	#template-menu{ display: none; }
    #audio-player{display:none;}
	.menu-content-holder{ width: 100%; }
	.template-logo{ margin: 5px 0 5px -47px; background-image: url("../assets/media/synergy_html5_logo_smartphone.png"); width:94px; height:60px;}
	#template-smpartphone-menu{ display: inline; }
	
	#menu-hider{ width: 100%; height: 10px; }
	#menu-hider-background{ width: 100%; height: 10px; }
	#menu-hider-icon{ background-position: -299px -200px; height: 28px; width: 38px; left:50%; top: 3px; margin-left: -15px; }
	
	footer{ display:none; }	
	
	#thumb-image-hover{ display: none; }
	
	.home-layout2-content ul{ margin: 0px 25px; } .home-layout2-content ul li{ margin: 20px 20px 20px 0px; width: 195px; }
	#standard-banner{ height: 222px; }
	.banner-desc{ width: 460px; clear: both; float: left; position: absolute;} .banner-desc span{ padding: 10px; font-size:13px; } .banner-desc span h1{ margin-bottom: 5px; font-size:18px;}
	.banner-desc-tr, .banner-desc-cr,.banner-desc-br, .banner-desc-tl, .banner-desc-cl, .banner-desc-bl {bottom:3px; left:0px; top:auto; }

	.home-layout-clients a{ margin: 10px 0px 10px 40px; } 


	.module-home-layout3{ width: 516px; } #home-video-block{ width: 470px; height: 274px; margin-right: 0px; }	
	#home-advertise{ margin-top: 20px;  height: 196px; width: 470px; } #home-advertise1{ margin-bottom: 0px;} #home-advertise2{ margin-left: 20px; }
	#home-advertise1, #home-advertise2{ height: 196px; width: 225px; } .advertise-image, #home-advertise img{ height: 159px; width: 225px; }

	.module-about-us, .module-ethics, .module-careers{ width: 466px; } .module-philosophy{ width: 466px; }
	
	.module-pricing{ width: 550px; } #pricing-column-header h2{ font-size: 15px; } #pricing-column-header h1{ font-size: 12px }
	
	.module-news-vertical, #module-news-preview-holder{ width: 480px; } .news-preview-horizontal-fix, #module-news-preview-container ul li { width:390px; } 
	
	#module-contact-holder { width: 480px; }
	
	.module-galleries{ width: 486px; }
	
	#module-columns-container{ margin: 40px 0px; }
    
    
    .columns-filter-holder{ margin-bottom: 6px; }
	.filter-button{ font-size: 13px; margin: 0 0 2px 2px; padding: 4px; }
	
	.full-width-info-container{ width: 100%; }
	.full-width-info-holder{ margin: 3%; width: 94%; }
    .full-width-info-holder-desc span, .custom-separator{ margin-top: 10px; }
    
    #module-scrollbar-holder{ width: 7px; }
    #module-scrollbar-holder_v2{ width: 7px; }
	
}
@media only screen and (max-width: 479px)
{
	#menu-container{ position:absolute; width: 100%; height:auto; left:0px; z-index:10; }
	#template-menu{ display: none; }
    #audio-player{display:none;}
	.menu-content-holder{ width: 100%; }
	.template-logo{ margin: 5px 0 5px -47px; background-image: url("../assets/media/synergy_html5_logo_smartphone.png"); width:94px; height:60px;}
	#template-smpartphone-menu{ display: inline; }
	
	#menu-hider{ width: 100%; height: 10px; }
	#menu-hider-background{ width: 100%; height: 10px; }
	#menu-hider-icon{ background-position: -299px -200px; height: 28px; width: 38px; left:50%; top: 3px; margin-left: -15px; }
	
	footer{ display:none; }
	#module-home-layout3{width: 367px;}
	
    #module-home-layout3-holder{width: 308px;}
    #home-video-block{height: 182px; width: 308px; }
    #home-advertise{margin-top:20px;  width: 308px;}
    #home-advertise1{height: 144px; width: 150px; margin-bottom: 0px; margin-right: 8px;}
    #home-advertise2{height: 144px; width: 150px;}
    .advertise-image, .advertise-image img{height: 106px; width: 150px;  }
    
    #standard-banner{ height: 145px; }
    .banner-desc{display:none;}
    .home-layout2-content ul li {width: 238px;}
    .home-layout-clients a{margin-left: 60px;}
    
	#module-text-page-holder-about-us, #module-text-page-holder-philosophy, 
	#module-text-page-holder-ethics, #module-text-page-holder-careers{ margin: 35px 30px; }
	.module-about-us, .module-ethics, .module-careers{ width: 320px; } .module-philosophy{ width: 320px; }
	
	#module-news-vertical-container{ margin: 35px 30px; } #module-news-preview-container{margin: 29px 25px;}
	.module-news-vertical, #module-news-preview-holder{ width: 320px; } .news-preview-horizontal-fix, #module-news-preview-container ul li { width:250px; }
	.news-item-vertical-read-more{ width: 30%; } 
	    
    .half-thumb-holder{ width: 362px; height: 281px; }
    .half-thumb-image{ width: 360px; height: 221px; }
    .half-thumb-image img{ width: 360px; height: 221px;}
    
	.module-galleries{ width: 250px; }
	
	.full-width-info-container{ width: 100%; }
	.full-width-info-holder{ margin: 4%; width: 92%; }
    .full-width-info-holder-desc span, .custom-separator{ margin-top: 10px; }
    #module-scrollbar-holder{ width: 7px; }
    #module-scrollbar-holder_v2{ width: 7px; }
    
    #map-holder{ height: 200px; }
    #module-contact-holder { width: 320px; }
    .contact-information-details p{ width: 101px; margin-left: 10px; font-size: 12px; }
    .form-input-half-right, .form-input-half-left{ width: 44%; }
    .form-input-large, .form-input-textarea{ width: 91%; }
    .contact-form-holder{ margin-left: 12%;}    
    .contact-information{ width: 24%; }
    .contact-form-holder{ width: 64%; }
    .contact-information-title p{ margin-left: 5px;}
    .form-buttons{ width: 70%; margin-right: 16px; }
    
    .columns-filter-holder{ margin-bottom: 6px; }
	.filter-button{ font-size: 13px; margin: 0 0 2px 2px; padding: 4px; }
    #module-columns-container, #module-columns-preview{ margin: 40px -1px;}
} 
@media only screen and (min-width: 300px) and (max-width: 390px)
{
    /*.module-container{ width: 320px; }*/
    .half-thumb-holder{ width: 292px; height: 239px; }
    .half-thumb-image{ width: 290px; height: 178px; }
    .half-thumb-image img{ width: 290px; height: 178px;}
}