/* Global Styles */

html,
body {
  height: 100%;
  /*width: 100%;*/
  color: #ddd;
  /*background-image:url('/assets/img/office.png');*/
  background:url('/assets/backg/bg06.jpg') no-repeat top center fixed;
  background-color: #000;
  /*background-position: 200px 0;*/
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-family:\5FAE\8EDF\6B63\9ED1\9AD4,Microsoft JhengHei,Trebuchet, Arial,Helvetica,sans-serif;
}

.w {
  /*height: 100%;*/
  /*width: 100%;*/
  color: #ddd;
  /*background-image:none;*/
  background-size: 100%;
  background-size: cover;
  background-position:  right center;
  vertical-align: top;
  background-image:url('/assets/img/home-login.png');
  background-color: #fff;

}

.g {
  /*height: 100%;*/
  /*width: 100%;*/
  color: #ddd;
  /*background-image:none;*/
  background-size: 100%;
  background-size: cover;
  background-position: right center;
  vertical-align: top;
  background-image:url('/assets/img/games-bg.jpg');
  background-color: #fff;

}

.g2 {
  /*height: 100%;*/
  /*width: 100%;*/
  color: #ddd;
  /*background-image:none;*/
  background-image: none;
  background-color: #fff;
}

#gameselectfix{
width: 1024px;
height: 768px;
background-image: url('/assets/img/web-login.jpg');


}

/*.g img{
  max-width: 120px;
}*/

#gameselect{
  margin-top: 40px;
  width: 980px;
  /*border: 1px solid #ccc;*/
}

#gameselect table td {
  vertical-align:bottom;
  padding-right:10px;
  /*display: inline-block;*/
  width: 180px;
  /*overflow: hidden;*/
  height: 200px;
}

.gamepoint{
  display: none;
}

.games{
margin-top: 100px;
/*  position: absolute;
  display: inline;
  width: 150px;*/
}


.loginbox{
  position: absolute;
  width: 400px;
  top: 100px;
  right: 50px;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/* Side Menu */

/*#sidebar-wrapper {
  margin-left: 0;
  left: -250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
background-image:url('/assets/img/web-menu-bg_01.jpg');
background-repeat:repeat-y;
font-size: 1.4em;
}*/

#sidebar-wrapper {
  margin-left: 0;
  left: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
background-image:url('/assets/img/web-menu-bg_01.jpg');
background-position: -70px;
background-repeat:repeat-y;
font-size: 1.2em;
background-color: transparent;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;

}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: url(/assets/img/menu-m.png) no-repeat top left;
  /*background: rgba(231,6,20,0.5);*/
  text-decoration: none;
  background-position: -30px -30px;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  left: 0px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

.btn-primary {
    background-color: #ea5757;
    border-color: #357EBD;
    color: #FFFFFF;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #FF0000;
    border-color: #285E8E;
    color: #FFFFFF;
}

.userInfoBox{
  background: url(/assets/img/menu-sub-bg.png) no-repeat -70px 0;
  font-size: 10px;
  line-height: 0.9em;
}

/* Full Page Image Header Area */

.header {
/*  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/bg2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  margin-bottom: 80px;
  padding-left: 0;
  padding-right: 0;
}

/* Intro */

.intro {
  padding: 50px 0;
  background-color: #373636;
}

/* Services */

.services {
  /*background: #7fbbda;*/
  background: #ea5757;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/bg2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Portfolio */

.portfolio {
  padding: 50px 0;
}

.portfolio-item {
  margin-bottom: 25px;
}

.img-portfolio {
  margin: 0 auto;
}


/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 50px 0;
}

.call-to-action .btn {
  margin: 10px;
}

/* Map */

.map {
  height: 500px;
}

/* Footer */

footer {
  padding: 100px 0;
}

.remark{
  position: fixed;
  width: 400px;
  bottom: 20px;
  right: 100px;
}

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}

/* Add */

  #market , #starpoint{
    background: url(../img/bg2.jpg) no-repeat center center fixed;
  }

  #comment{
    color: #eee;
    font-size: 10px;
  }

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.box {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
    margin-bottom: 20px;
    padding: 30px 15px;
}

.jumbotron {
  background-color: rgba(0,0,0,0.4);
  font-size: 1.1em;
}

.exam {
  font-size: 1em;  
}

.exam b{
  color: red;
}

.userinfo{
    background: url('/assets/img/web-user-bg_01.jpg') repeat-x;
}

.btn-fix-60{
  width: 60px !important;
}

.examMode img:hover{
  background-color: rgba(255,255,255,0.4);
}

.market b{
  color: red;
}

.smallNote{
  /*background: url('/assets/img/notes-1-s.png') no-repeat;*/
  /*background-position: 15px;*/
  /*width: 120px;*/
  /*background-image:url('/assets/img/notes-1-s.png');*/
  /*background-repeat:no-repeat;*/
  /*background-position:center; */
  height: 125px;
  padding-top: 55px;
  font-size: 1.0em;
  line-height: 1.3;
}

.smallNote a{
  color: #fff;
}

.smallNote span{
   /*display: inline-block;*/
  width: 100px;
  /*border: 1px solid #ccc;*/
}

.M1{
  background-image:url('/assets/img/market/mType_1.jpg');
  background-repeat:no-repeat;
  background-position:center; 
  /*height: 125px;*/
}
.M2{
  background-image:url('/assets/img/market/mType_2.jpg');
    background-repeat:no-repeat;
  background-position:center; 
  /*height: 80px;*/
}
.M3{
  background-repeat:no-repeat;
  background-position:center; 
  /*height: 80px;*/
  background-image:url('/assets/img/market/mType_3.jpg');
}
.M4{
   background-repeat:no-repeat;
  background-position:center; 
  /*height: 80px; */
  background-image:url('/assets/img/market/mType_4.jpg');
}
.M5{
  background-repeat:no-repeat;
  background-position:center; 
  /*height: 80px;*/
  background-image:url('/assets/img/market/mType_5.jpg');
}
.M6{
  background-repeat:no-repeat;
  background-position:center; 
  /*height: 80px;  */
  background-image:url('/assets/img/market/mType_6.jpg');
}
.M7{
  background-repeat:no-repeat;
  background-position:center; 
  /*height: 80px;*/

  background-image:url('/assets/img/market/mType_7.jpg');
}
.M8{
  background-repeat:no-repeat;
  background-position:center; 
  /*height: 80px;*/
  background-image:url('/assets/img/market/mType_8.jpg');
}
.M9{
  background-repeat:no-repeat;
  background-position:center; 
  /*height: 80px;*/
  background-image:url('/assets/img/market/mType_9.jpg');
}

/*.modal-dialog {
  width: 350px;
}*/

#examSubList{
  display: none;

}

.g .modal-dialog {
  color: #000;
}


.modal-content.popupnote{
  background-size: cover;
  background: url('/assets/img/market/popType_M1.png') no-repeat;
  background-color: none;
  border: none;
  /*height: 600px;*/
  color: #000;
  box-shadow:none;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.modal-content.popupnote .modal-body,
.modal-content.popupnote .modal-header{
  border: none;
  /*padding-left:110px;*/
  /*padding-right:110px;*/
}

.modal-content.popupnote .modal-header{
    padding-top: 40px;
    text-align: center;
}

.list-group-item {
    background-color:transparent;
    border: none;
    /*display: block;*/
    /*margin-bottom: -1px;*/
    padding: 0;
    /*position: relative;*/
}

.frank b{
  color: #ffc100;
}

.hkrank b{
  color: #ffc100;
}

.Level{
height: 180px;
}

.Level span {
    width: auto;
    padding: 2px 10px;
    color:#ffffff;
    background-color:#ffc111;
    border: 1px solid #fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
  text-decoration: none;
  font-size: 0.9em;
}

.levelimg{
  top: -80px;
  position: relative;
  float: right;
}

.introMovie{
margin-top: 40px;

}

/* menu */

.menuicon {
    /*-moz-osx-font-smoothing: grayscale;*/
    display: inline-block;
    /*font-family: 'Glyphicons Halflings';*/
    /*font-style: normal;*/
    /*font-weight: normal;*/
    line-height: 1;
    position: relative;
    top: 1px;
    background: url(/assets/img/menu-point.png) no-repeat top left;
    vertical-align: middle;
}

/*
.sidebar-nav a span{
  background: url(/assets/img/menu-point.png) no-repeat top left;
  display: inline-block;
}
*/
.sprite-dragon{ background-position: 0 0; width: 42px; height: 31px; } 
.sprite-home{ background-position: -52px 0; width: 42px; height: 31px; } 
.sprite-memo{ background-position: -104px 0; width: 42px; height: 31px; } 
.sprite-pw{ background-position: -156px 0; width: 42px; height: 31px; } 
.sprite-star{ background-position: -208px 0; width: 42px; height: 31px; } 
.sprite-status{ background-position: -260px 0; width: 42px; height: 31px; } 
.sprite-subject{ background-position: -312px 0; width: 42px; height: 31px; } 
.sprite-tai{ background-position: -364px 0; width: 42px; height: 31px; } 
.sprite-tutors{ background-position: -416px 0; width: 42px; height: 31px; }


/* Responsive */

/*@media (min-width: 768px) {
.container {
    max-width: 730px;
}
}*/

@media{
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}
/*@media (min-width: 970px) {
.container {
    max-width: 930px;
}
}*/


/*@media (max-width: 768px) {
	
  .header {
	background: url(../img/bg2.jpg) no-repeat center center scroll; 
  }

  .callout {
	background: url(../img/bg2.jpg) no-repeat center center scroll; 
  }

  .map {
	height: 75%;
  }


}*/